$row-height: 25vh;

.row {
  height: $row-height;
  margin: 1rem 0;

  .image-container {
    float: left;
    height: $row-height;

    .service-image {
      max-height: $row-height;
      border: 0.5rem #2b2b2b solid;

      &#service1 {
        margin-left: 7rem;
      }
      &#service2 {
        margin-left: 6.7rem;
      }
      &#service3 {
        margin-left: 3.5rem;
      }
    }
  }
  .service-text {
    float: right;
    width: 68%;
  }
}
